@nucleo-nodejs:registry=https://code.nbs.dev/api/v4/packages/npm/
//code.nbs.dev/api/v4/packages/npm/:_authToken=<GROUP_DEPLOY_TOKEN>
//code.nbs.dev/api/v4/projects/41/packages/npm/:_authToken=<GROUP_DEPLOY_TOKEN>